

<div class="programs-mini-navs">
	
	<ul>
		<div class="calendar-mini-header">

			<li class= <%= @period == '1' ? "bold_month" : 'regular_month' %> ><%= link_to "Invierno", 
				lectures_path(:period => 1, :program => @program, :semester => @semester)   %> </li>
			<li class= <%= @period == '2' ? "bold_month" : 'regular_month' %> ><%= link_to "Verano",
				lectures_path(:period => 2, :program => @program, :semester => @semester)   %> </li>
			<li class= <%= @period == '3' ? "bold_month" : 'regular_month' %> ><%= link_to "Otoño",
				lectures_path(:period => 3, :program => @program, :semester => @semester)    %> </li>
		</div>
	</ul>


	<ul>
		<div class="programs-mini-header">
			<% for program in @programs %>
				<li class= <%= @program == program.id.to_s ? "bold_month" : 'regular_month' %> >
				<%= link_to "#{program.name}", lectures_path(:period => @period, :program => program.id, :semester => @semester) %> </li>
			<% end %>
		</div>
	</ul>

	<ul>
		<div class="programs-mini-header-months">
			<% for semester in @semesters %>
				<li class= <%= @semester == "#{semester}" ? "bold_month" : 'regular_month' %> >
		 		<%= link_to "#{semester}", lectures_path(:period => @period, :semester => semester, :program => @program) %> </li>
			<% end %>
		</div>
	</ul>

</div>

