

<div class="calendar-mini-header">
	<ul>
		<li class= <%= @period == '1' ? "bold_month" : 'regular_month' %> ><%= link_to "Invierno", :controller => "lectures", :action => "my_reports", :period => 1 %> </li>
		<li class= <%= @period == '2' ? "bold_month" : 'regular_month' %> ><%= link_to "Verano",   :controller => "lectures", :action => "my_reports", :period => 2 %> </li>
		<li class= <%= @period == '3' ? "bold_month" : 'regular_month' %> ><%= link_to "Otoño",    :controller => "lectures", :action => "my_reports", :period => 3 %> </li>
	</ul>
</div>

<div class="calendar-mini-header-months">
	<ul>

		<% if @period == "1" %>

		<li class= <%= @month_of_report == '1' ? "bold_month" : 'regular_month' %> >
			 <%= link_to "Enero",   :controller => "lectures", :action => "my_reports",  :month_of_report => "1" , :period => @period %> </li>
		<li class= <%= @month_of_report == '2' ? "bold_month" : 'regular_month' %> >
		   <%= link_to "Febero",  :controller => "lectures", :action => "my_reports",  :month_of_report => "2" , :period => @period %> </li>
		<li class= <%= @month_of_report == '3' ? "bold_month" : 'regular_month' %> > 
			  <%= link_to "Marzo",  :controller => "lectures", :action => "my_reports",  :month_of_report => "3" , :period => @period %> </li>
		<li class= <%= @month_of_report == '4' ? "bold_month" : 'regular_month' %> >  
			   <%= link_to "Abril", :controller => "lectures", :action => "my_reports",  :month_of_report => "4" , :period => @period %> </li>
		 
		<% elsif @period == "2" %> 
		 
		<li class= <%= @month_of_report == '5' ? "bold_month" : 'regular_month' %> >
			  <%= link_to "Mayo",    :controller => "lectures", :action => "my_reports",  :month_of_report => "5" , :period => @period %> </li>
		<li class= <%= @month_of_report == '6' ? "bold_month" : 'regular_month' %> >
			  <%= link_to "Junio",   :controller => "lectures", :action => "my_reports",  :month_of_report => "6" , :period => @period %> </li>
		<li class= <%= @month_of_report == '7' ? "bold_month" : 'regular_month' %> >
			  <%= link_to "Julio",   :controller => "lectures", :action => "my_reports",  :month_of_report => "7" , :period => @period %> </li>
		<li class= <%= @month_of_report == '8' ? "bold_month" : 'regular_month' %> >
		  	<%= link_to "Agosto",  :controller => "lectures", :action => "my_reports",  :month_of_report => "8" , :period => @period %> </li>
		 
		<% elsif @period == "3" %>

		 <li class= <%= @month_of_report == '9' ? "bold_month" : 'regular_month' %> >
			<%= link_to "Septiembre", :controller => "lectures", :action => "my_reports", :month_of_report => "9" , :period => @period %> </li>
		<li class= <%= @month_of_report == '10' ? "bold_month" : 'regular_month' %> > 
			<%= link_to "Octubre",    :controller => "lectures", :action => "my_reports", :month_of_report => "10", :period => @period %> </li>
		<li class= <%= @month_of_report == '11' ? "bold_month" : 'regular_month' %> >
			<%= link_to "Noviembre",  :controller => "lectures", :action => "my_reports", :month_of_report => "11", :period => @period %> </li>
		<li class= <%= @month_of_report == '12' ? "bold_month" : 'regular_month' %> > 
			<%= link_to "Diciembre",  :controller => "lectures", :action => "my_reports", :month_of_report => "12", :period => @period %> </li>

		<% end %>

	</ul>
</div>
