
<h2 class="page-title"> <%= @course.name %> </h2>

<div class="page-content">
	<div class="lecture-description-container">
		<ul> 
			<li> <span class=" "> Programa:        </span> <span class="bold"> <%= @course.program %>  </span> </li>
			<li> <span class=" "> Horas Semanales: </span> <span class="bold"> <%= @course.duration %> </span> </li>
			<li> <span class=" "> Area:            </span> <span class="bold"> <%= @course.area %>     </span> </li>
			<li> <span class=" "> Creditos:        </span> <span class="bold"> <%= @course.credits %>  </span> </li>
		</ul> 

	<% if Report.where(:user_id => current_user.id, :month_of_report => @lecture.period.period_to_report_month, :year => @lecture.created_at.to_date.year).empty? %>
		
		<h3> Editar Horario </h3>

		<%= form_for @lecture do |f| %>

			<%= f.label :dia %>
			<%= select(:lecture, :week_day, [["Lunes", 1], ["Martes", 2], ["Miercoles", 3], ["Jueves", 4], ["Viernes", 5], ["Sabado", 6]]) %>
			<br />
			<%= f.label :hora %>
			<%= f.time_select :lecture_start_time, {:minute_step => 30, ampm: true} %>
			<br />

			<%= f.submit "Actualizar"%>
			<br />
			<br />
			<%= link_to "Eliminar", @lecture, method: :delete%>
		<% end %>
	<% end %>
</div>
