

		<% unless current_user || current_coordinator %>
		<div class="devise-signin-container">
			<div class="devise-signin">

		<h2>Iniciar Sesion</h2>


				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  <div><%= f.label :email %><br />
				  <%= f.email_field :email, autofocus: true %></div>

				  <div><%= f.label :contraseña %><br />
				    <%= f.password_field :password, autocomplete: "off" %></div>

				  <br />  
				  <% if devise_mapping.rememberable? -%>
				    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
				  <% end -%>


				  <br /> 
				  <div><%= f.submit "Sign in" %></div>

				<% end %>

				<br />

				<%= render "devise/shared/links" %>

				<div class="devise-shared-links">
					<%= link_to('Soy Coordinador', new_coordinator_session_path)  %>
				</div>
		</div>

		<% else %>


		<% end %>
	

	<div class="welcome-image">
	  <%= render "layouts/welcome_image" %>
	</div>
</div>