
<% if user_signed_in? %>
  <li>
  <%= link_to('Agregar Clase', new_lecture_path) %>        
  </li>
  <li>
  <%= link_to("Mis Clases", my_lectures_lecture_path(current_user)) %>
  </li>
    <li>
  <%= link_to("Reportes", my_reports_lecture_path(current_user)) %>
  </li>

<% elsif coordinator_signed_in? %> 

  <li> <%= link_to('Asignaturas', lectures_path) %> </li>
  <li> <%= link_to("Reportes", reports_path) %> </li>
  <li> <%= link_to("Indicadores", '#') %> 
    <ul>
      <li> <%= link_to("Programas", program_data_reports_path) %> </li>
      <li> <%= link_to("Cursos",     course_data_reports_path) %> </li>
      <li> <%= link_to("Docentes",  teacher_data_reports_path) %> </li>
    </ul>
  </li>
  

<% else %>

  <li>
  <%= link_to('Tutorial', '#')  %>  
  </li>
  <li>
  <%= link_to('Omnivox', 'https://lci-colombia.omnivox.ca/intr/Module/Identification/Login/Login.aspx?ReturnUrl=%2fintr')  %>
  </li>

<% end %>