
<div class="header-top">

	<div class="logo-header">
		<%= image_tag('LogoLCI.png') %>
		<!-- <img src="/assets/LogoLCI.png" alt="Logo LCI Barranquilla" title="Logo LCI Barranquilla" /> -->
	</div>

	<div class="flag-container">
		<%= image_tag('CanFlag.jpg') %>
		<%= image_tag('ColFlag.jpg') %>
	</div>

</div>


<div class="navbar">

	<div class="navbar-left">
		<ul>
			<%= render 'layouts/course_links' %>
		</ul>
	</div>

	<div class="navbar-right">
		<ul>
			<%= render 'layouts/login_links' %>
		</ul>
	</div>

</div>